/* UTILITY */
:root{
    --lightgray: rgb(231, 231, 231);
    --lightblack: rgb(27,27,27);
    --orange: rgb(169, 196, 98);
}

body{
    font-family: 'PT Sans', sans-serif;
}

/* MODIFICHE DIMENSIONI GENERALI */
header{
    height: 80px;
    background-color: var(--lightblack);
    color: var(--lightgray);
}

#container-generale{
    height:calc(100vh - 130px);
    width: 100%;
    background-color: var(--lightgray);
  

}

footer{
    height: 50px;
    background-color: var(--lightblack);
    color: var(--lightgray);
}


#my-container{
    margin: 0 auto;
    width: 1000px;
   
    border: 1px solid yellow;
    display: flex;
    align-items: center;
}

.largezza-max{
    width: 1200px;
    margin: 0 auto;
}

.col-4 img{
    width:100%;
    height: auto;
    padding: 5px;
 
    border-radius: 10px;
}

.cover-opaca:hover{
    cursor: pointer;
    opacity: 0.50;
    transition: opacity 1s linear;
}
