/* UTILITY */
:root{
    --lightgray: rgb(231, 231, 231);
    --lightblack: rgb(27,27,27);
    --orange: rgb(169, 196, 98);
}

body{
    font-family: 'PT Sans', sans-serif;
}

/* MODIFICHE DIMENSIONI GENERALI */
header{
    height: 80px;
    background-color: var(--lightblack);
    color: var(--lightgray);
}

#container-generale{
    height:calc(100vh - 130px);
    width: 100%;
    background-color: var(--lightgray);
    padding-top: 20px;
}

footer{
    height: 50px;
    background-color: var(--lightblack);
    color: var(--lightgray);
}

#my-container{
    margin: 0 auto;
    width: 1000px;
    display: flex;
    align-items: center;
}

.largezza-max{
    width: 1200px;
    margin: 0 auto;
}

/* MODIFICHE MAIN */
.imgInfo{
    width:100%;
    height: auto;
    padding: 5px;
    border-radius: 10px;
}

.cover-opaca:hover{
    cursor: pointer;
    opacity: 0.50;
    transition: opacity 1s linear;
}

/* MODIFICO CARD CANDIDATURA */

.cover-candidatura{
    border: 1px solid var(--lightblack);
    border-radius: 5px;
   
}

.nome, .lavoro{
    width: 100%;
}

.fa-solid{
  font-size: 30px;
}

.card-opaca{
    position: relative;
    width: 100%;
    height: auto;
}

.contenitore-icona{
    border: 1px solid var(--lightblack);
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 60px;
    left: 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   opacity: 0;
}

.contenitore-icona:hover{
    opacity: 1;
    transition: opacity 1s linear;
}
        
